[Unit]
Description=gunicorn uvicorn service for FARM Backend API
After=syslog.target

[Service]
ExecStart=/apps/farmbackend/venv/bin/gunicorn -b 127.0.0.1:8000 -w 4 -k uvicorn.workers.UvicornWorker main:app --name farmbackend_svc --chdir /apps/farmbackend --access-logfile /apps/logs/farmbackend_api/access.log --error-logfile /apps/logs/farmbackend_api/errors.log --user farmuser

# \/ \/ <- Added post recording for better restart perf.
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# /\ /\ <- Added post recording for better restart perf.

# Requires systemd version 211 or newer
RuntimeDirectory=/apps/farmbackend
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all


[Install]
WantedBy=multi-user.target
